.yarn/*
!.yarn/cache
!.yarn/cache/*
!.yarn/patches
!.yarn/patches/*
!.yarn/plugins
!.yarn/plugins/*
!.yarn/releases
!.yarn/releases/*
!.yarn/versions
!.yarn/versions/*

**/node_modules/**

.env
.env*.local